{{#if postData2}}
  <div class="clickable-post border border-2 mb-4 mx-auto" style="border-color: #1f1912;" data-id="{{postData2.id}}">
    <div class="flex justify-between items-center p-2" style="background-color: #1f1912;">
      <div class="text-gray-500 font-bold text-lg">
        <input type="text" name="title" value="{{postData2.title}}">
      </div>
      <div class="text-gray-500">
        <input type="text" name="user_username" value="{{postData2.user_username}}" readonly> | 
        <input type="text" name="date" value="{{postData2.date}}" readonly>
      </div>
    </div>
    <div class="text-black rounded p-4 bg-white w-full">
      <textarea name="blog" class="w-full">{{postData2.blog}}</textarea>
    </div>
  </div>
  <div class="flex justify-center mt-4">
    <form action="/dashboard/{{postData2.id}}" method="PUT" id="updateForm">
      <button type="submit" class="btn btn-primary update-btn mr-2">Update</button>
    </form>
    <div class="col-md-4">
        <button class="btn btn-sm btn-danger deleteButton" data-id="{{postData2.id}}">DELETE</button>
      </div>
  </div>
{{else}}
  <p class="text-center">No data available</p>
{{/if}}

<script src="/js/updateDelete.js"></script>